function Airship.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Airship.draw 0
push argument 0
pop pointer 0
push this 2
push this 0
push constant 16
call Math.divide 2
push this 1
call Sprites.drawAirship 3
pop temp 0
push constant 0
return
function Airship.moveLeft 0
push argument 0
pop pointer 0
push this 0
push argument 1
sub
pop this 0
push constant 0
return
function Airship.erase 0
push argument 0
pop pointer 0
push this 2
push this 0
push constant 16
call Math.divide 2
push this 1
call Sprites.eraseAirship 3
pop temp 0
push constant 0
return
function Airship.getX 0
push argument 0
pop pointer 0
push this 0
return
function Airship.getY 0
push argument 0
pop pointer 0
push this 1
return
function Airship.setCoords 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
return
