function Plane.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Plane.moveUp 0
push argument 0
pop pointer 0
push this 1
push argument 1
sub
pop this 1
push this 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 1
label IF_FALSE0
push constant 0
return
function Plane.moveDown 0
push argument 0
pop pointer 0
push this 1
push argument 1
add
pop this 1
push this 1
push constant 220
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 220
pop this 1
label IF_FALSE0
push constant 0
return
function Plane.getX 0
push argument 0
pop pointer 0
push this 0
return
function Plane.getY 0
push argument 0
pop pointer 0
push this 1
return
