function Plane.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Plane.moveUp 0
push argument 0
pop pointer 0
push this 1
push argument 1
sub
pop this 1
push this 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 1
label IF_FALSE0
push constant 0
return
function Plane.moveDown 0
push argument 0
pop pointer 0
push this 1
push argument 1
add
pop this 1
push this 1
push constant 220
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 220
pop this 1
label IF_FALSE0
push constant 0
return
function Plane.getX 0
push argument 0
pop pointer 0
push this 0
return
function Plane.getY 0
push argument 0
pop pointer 0
push this 1
return
function Plane.getWidth 0
push argument 0
pop pointer 0
push constant 50
return
function Plane.getHeight 0
push argument 0
pop pointer 0
push constant 30
return
function Plane.dispose 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Plane.drawPlane 1
pop temp 0
push constant 0
return
function Plane.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Plane.drawPlane 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
return
function Plane.drawPlane 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 9
sub
push this 1
push constant 9
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 9
sub
push this 1
push constant 9
sub
push this 0
push constant 12
sub
push this 1
push constant 9
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 12
sub
push this 1
push constant 9
sub
push this 0
push constant 12
sub
push this 1
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 9
sub
push this 1
call Screen.drawPixel 2
pop temp 0
push this 0
push constant 12
sub
push this 1
push constant 3
add
push this 0
push constant 12
sub
push this 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 12
sub
push this 1
push constant 6
add
push this 0
push constant 3
add
push this 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
add
push this 1
push constant 9
add
push this 0
push constant 3
sub
push this 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
sub
push this 1
push constant 24
add
push this 0
push constant 3
add
push this 1
push constant 24
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
add
push this 1
push constant 24
add
push this 0
push constant 15
add
push this 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 15
add
push this 1
push constant 12
add
push this 0
push constant 33
add
push this 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 36
add
push this 1
push constant 9
add
push this 0
push constant 36
add
push this 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 33
add
push this 1
push constant 3
add
push this 0
push constant 30
add
push this 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 27
add
push this 1
push this 0
push this 1
call Screen.drawLine 4
pop temp 0
push this 0
push constant 18
add
push this 1
push this 0
push constant 9
add
push this 1
push constant 9
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 9
add
push this 1
push constant 9
sub
push this 0
push constant 3
add
push this 1
push constant 9
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
add
push this 1
push constant 9
sub
push this 0
push constant 3
add
push this 1
push constant 6
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 3
sub
call Screen.drawPixel 2
pop temp 0
push this 0
push constant 15
add
push this 1
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push this 0
push constant 21
add
push this 1
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push this 0
push constant 27
add
push this 1
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push constant 0
return
