function Sprites.drawPlane 2
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Sprites.getLocation 3
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 227
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 293
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 585
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 16370
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 10759
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 56
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 480
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 272
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 144
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 72
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 56
call Memory.poke 2
pop temp 0
push local 1
push constant 161
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 193
add
push constant 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.erasePlane 2
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Sprites.getLocation 3
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 161
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 193
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawFuel 2
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Sprites.getLocation 3
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 32
add
push constant 32764
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 32766
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 16369
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 16393
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 16369
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 15
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 32753
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 8177
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 512
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 544
add
push constant 4081
call Memory.poke 2
pop temp 0
push local 1
push constant 576
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 608
add
push constant 1
call Memory.poke 2
pop temp 0
push local 1
push constant 640
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 1
add
push constant 96
call Memory.poke 2
pop temp 0
push local 1
push constant 33
add
push constant 144
call Memory.poke 2
pop temp 0
push local 1
push constant 65
add
push constant 105
call Memory.poke 2
pop temp 0
push local 1
push constant 97
add
push constant 38
call Memory.poke 2
pop temp 0
push local 1
push constant 129
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 161
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 193
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 225
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 257
add
push constant 17
call Memory.poke 2
pop temp 0
push local 1
push constant 289
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 321
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 353
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 385
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 417
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 449
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 481
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 513
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 545
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 577
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 609
add
push constant 16
call Memory.poke 2
pop temp 0
push local 1
push constant 641
add
push constant 15
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.getLocation 0
push argument 0
pop pointer 0
push argument 2
push constant 32
call Math.multiply 2
push argument 1
add
return
